* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(16, 16, 16);
    padding: 50px 400px 50px 400px;
}

.main-link{
    font-family: "Inconsolata";
    font-style: normal;
    font-size: 36px;
    color: white;
    text-underline-offset: none;

}
.nav-links{
    display: flex;
    justify-content: space-around;

    padding-top: 20px;
}
.nav-link{
    font-family: "Inconsolata";
    font-style: normal;
    font-size: 16px;
    color: darkorange;
    text-decoration: none;
}
.nav-link:hover {
    text-decoration: underline;
}

.link-around{
    color: darkorange;
}
.about{
    padding: 50px 50px 50px 50px;
}
.abount-h{
    margin-bottom: 10px;
}
.about-text{
    font-family: "Inconsolata";
    font-style: normal;
    font-size: 20px;
    color: white;
    text-decoration: none;
    line-height: 25x;
}
.about-links{
    padding-top: 10px;
}
.about-links-text{
    font-family: "Inconsolata";
    font-style: normal;
    font-size: 20px;
    color: white;
}

.about-link{
    font-family: "Inconsolata";
    font-style: normal;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.projects{
    margin-bottom: 50px;
}

.projects-h{
    font-family: "Inconsolata";
    font-style: normal;
    font-size: 30px;
    color: darkorange;
    text-underline-offset: none;
}

.project-block{
    display: flex;
    justify-content: flex-start;
    padding-top: 25px;
}
.project-date{
    min-width: 100px;
    font-family: "Inconsolata";
    font-style: normal;
    font-size: 20px;
    color: grey;
    text-decoration: none;
    margin-right: 20px;
}
.project-name{
    font-family: "Inconsolata";
    font-style: normal;
    font-size: 20px;
    color: white;
    text-decoration: underline;
    margin-right: 10px;
}
.project-status{
    font-family: "Inconsolata";
    font-style: normal;
    font-size: 20px;
    color: white;
    text-decoration: underline;
    margin-right: 10px;
}
.project-status-completed{
    color:chartreuse;
}
.project-status-developing{
    color:cornflowerblue;
}
.project-status-closed{
    color: red;
}
.comment-inf{
    display: flex;
    justify-content: flex-start;
    padding-top: 25px;
}
.comment-text{
    padding-top: 10px;
    text-align: left;
}
.comments{
    margin-bottom: 50px;
}
.white-line{
    color: white;
    margin-right: 10px;
}
.autor-name{
    font-family: "Inconsolata";
    font-style: normal;
    font-size: 16px;
    margin-right: 25px;
}
.footer-link{
    color: grey;
}
.header-h{
    width: 320px;
}
.project-page-h{
    padding-top: 50px;
}
.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}
/* оформляем текст label */
.hide + label {
    font-family: "Inconsolata";
    font-style: normal;
    font-size: 18px;
    margin-right: 25px;
    border-bottom: 1px solid White;
    padding: 0;
    color: White;
    cursor: pointer;
    display: inline-block; 
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    margin-bottom: 10px;
    border-bottom: 2px dashed White;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    background: rgb(62, 62, 62);
    box-shadow: 0px 0px 10px 0px rgb(17, 17, 17) inset;
    padding: 10px;

    font-family: "PT Mono", monospace;
    font-style: normal;
    font-size: 16px;
    color: rgb(157, 157, 157);
    text-decoration: none;
    line-height: 25px;
}
.blog{
    padding-top: 50px;
}
.post{
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
}
.post-container{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.post-text-lines{
    padding-top: 15px;
}
.post-text{
    padding: 0px 25px 0px 25px;

    border-left: 1px solid white;
    border-right: 1px solid white;
}

.post-text-cl{
    font-family: "PT Mono", monospace;
    font-style: normal;
    font-size: 16px;
    color: white;
    text-decoration: none;
    line-height: 25px;
}
.post-quote{
    font-family: "PT Mono", monospace;
    font-style:italic;
    font-size: 16px;
    color: rgb(157, 157, 157);
    text-decoration: none;
    line-height: 25px;
}
.comment-block{
    border-top: 2px solid white;
    padding-top: 10px;
}
.send-comment-h{
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
}
.input-comment{
    width: 550px;
    height: 100px;
    background: rgb(62, 62, 62);
    box-shadow: 0px 0px 10px 0px rgb(17, 17, 17) inset;
    border-color: rgb(17, 17, 17);

    padding: 5px 5px 5px 5px;

    font-family: "PT Mono", monospace;
    font-style: normal;
    font-size: 16px;
    color: white;
    text-decoration: none;
    line-height: 25px;

    resize: none;
}
.send-comment{
    width: 150px;
    height: 25px;

    font-family: "Inconsolata";
    font-weight: 800;
    font-size: 18px;
    margin-top: 15px;
    padding: 0;
    color: grey;
    cursor: pointer;
    display: inline-block;
}
.up-bar{
    display: flex;
    justify-content: space-between;
}
.up-bar-func{
    margin-top: 15px;
}
.func-set-lan, .func-set-theme {
    font-family: "Inconsolata";
    font-weight: 400;
    font-size: 18px;
    margin-top: 15px;
    padding: 0;
    color:darkorange;
    cursor: pointer;
    display: inline-block;
}